.bar {
  background-color: #3367d6;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bar2 {
  background-color: #ffffff;
  height: 90vh;
  padding: 20px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  outline: none;
  border: none;
  background-color: #2850a7;
  min-height: 100%;
  color: white;
  min-height: 28px;
}
.search-icon-container {
  padding: 3px 2px 1px 3px;
  box-sizing: border-box;
  background-color: #2850a7;
  min-height: 25px;
  align-slef: center;
  border-right: 1px solid #ffffff;
}
.search-input-contaier {
}
.icon {
  min-height: 20px;
}
.main {
  background-color: #ececec;
  border-radius: 20px;
  padding: 10px;
}
